div{
    background-image: url("../img/firefoxLogo.png");
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

#centered_small_icon{
    background-size: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightskyblue;
}

#green_line{
    background: none;
    background-color: lightgreen;
}

#full_width_icon{
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center ;
    background-color: lightcoral;
}

#repeated_icon{
    background-size: 100px;
    background-repeat: repeat;
    background-color: lightsalmon;
}