#figure1{
    border: black 1px solid;
    padding-bottom: 5%;
    margin-right: 92%;
}

#figure2{
    border: black 5px solid;
    padding-left: 1%;
    padding: 1%;
}

#figure3{
    border: orange 1px solid;
    margin: 1%;
}

#figure4{
    border: lightblue 3px solid;
    border-radius: 3px;
    padding-bottom: 60px;
    margin-right: 50%;

}

#figure5{
    border: black 1px solid;
    padding-left: 1.5%;
}

#figure6{
    border: black 1px solid;
    margin-left: 1.5%;
}
#figure7{
    border-radius: 5px;
    text-align: center;
    border: lightskyblue 2px solid;
    margin: 20px;
    margin-left: 46%;
    margin-right: 46%;
    padding: 1%;
    padding-bottom: 2%;
}