main{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: lightblue;
    margin: 1px 1px 100px 1px;
    display: flex;
}
.button{
    padding: 5px;
}

#first{
    justify-content: space-between;

}
#second{
    flex-direction: column-reverse;
}
#third{
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

#forth .button{
    background-color: lightgreen;
    margin: 10px;
}
#forth .b3{
    order: -1;
}

#forth .b2{
    flex-grow: 2;
}

