p{
    border: 1px solid black;
}

@media (max-width: 800px) {
    #figure2{
        display: none;
    }

}

@media (min-width: 800px) {
    #figure1{
        font-size: 50px;
        font-weight: bold;
    }


    #figure3{
        padding: 100px;
    }
}

#figure1{
    background-color: lightblue;
}

#figure2{
    background-color: salmon;
}

#figure3{

    background-color: greenyellow;

}
