header{
    background-color: black;
    color: white;
    padding: 100px;
    text-align: left;
}

header h1 {
    font-size: 70px;
}

header a{
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Gallery div{
    padding: 20px;
}

body{
    margin: 0px;
}

@media (max-width: 800px) {
    header{
        text-align: center;
    }
    nav{
        flex-direction: column;
    }

}