main{
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}
nav{
    display: flex;
    background-color: lightblue;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

#first{
    justify-content: space-between;
}

#second{
    flex-direction: column-reverse;
}

#third{
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: right;
}
#forth{
    text-align: left;
}
#forth .button{
    background-color: lightgreen;
    margin: 10px;
}
#forth .b3{
    order: -1;
}
#forth .b2{
    flex-grow: 2;
}
.button{
    padding: 5px;
}

#forth div{
    padding-right: 30px;
}