div{
    background-color: lightblue;
    padding-right: 100px;
    padding-bottom: 50px;
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

#primerFloat{
    float: left;
    border: black;
    margin: 1%;
}
#segundoFloat{
    float: right;
    border: black ;
    margin: 1%;
}