
#container{
    display: grid;
    grid-template-areas: "menu logo content"
                         "menu footer footer";
    grid-template-rows: 300px 80px;
    text-align: center;
}

nav{
    grid-area: menu;
    background-color: lightskyblue;
}

#container div{
    grid-area: logo;
    background-color: lightcoral;
}

section{
    grid-area: content;
    background-color: lightgreen;
}

footer{
    grid-area: footer;
    background-color: lightpink;
}

@media (max-width: 700px) {
    #container{
        text-align: center;
        grid-template-rows: 50px 250px 50px;
        grid-template-areas:
                "menu menu menu"
                "logo content content"
                "footer footer footer";
    }

}