nav{
    grid-area: menu;
    background-color: lightblue;
}

#container div{
    grid-area: logo;
    background-color: lightcoral;
}

section{
    grid-area: content;
    background-color: lightsalmon;
}
footer{
    grid-area: footer;
    background-color: lightgreen;
}

#container{
    display: grid;
    grid-template-rows: 300px 80px;
    grid-template-areas:
    "menu logo content"
    "menu footer footer"
                        ;
    text-align: center;
    grid-auto-columns: 200px 200px auto;
}

@media (max-width: 800px) {
    #container{
        text-align: center;
        grid-template-rows: 50px 250px 50px;
        grid-template-areas:
                "menu menu menu"
                "logo content content"
                "footer footer footer"
                                        ;
        grid-auto-columns: 100px 100px auto;
    }

}
