main{
    background-color: lightskyblue;
    max-width: 100%;
    height: 400px;
    display: grid;
    grid-template-areas: "clouds"
                         "mario"
                         "base";
    grid-template-rows: 73px auto 15px;
}

#clouds{
    grid-area: clouds;
    background-image: url("../img/clouds.png");
}

#base{
    grid-area: base;
    background-image: url("../img/base.png");
}

#mario{
    grid-area: mario;
    background-image: url("../img/mario.png");
    background-repeat: no-repeat;
    background-position: 0px 215px;
}

@media (max-width: 800px) {

    main{
        width: 500px;
        background-color: lightblue;
    }

}