p{
    border: black 1px solid;
}

#figure1{
    font-size: 50px;
    background-color: lightblue;
    margin-bottom: 40px;
    font-weight: bold;
}

#figure2{
    background-color: lightcoral;
}

#figure3{
    padding: 70px;
    background-color: lightgoldenrodyellow;
}

@media (max-width: 500px) {

    #figure1{
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: normal;
    }

    #figure2{
        display: none;
    }

    #figure3{
        font-size: 12px;
        padding: 5px;
    }

}