header{
    padding: 100px;
    background-color: black;
    color: white;
}

header a{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration-line: underline;
    text-align: center;
}

.Gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Gallery div{
    padding: 20px;
}

body{
    margin: 0px;
}

@media (max-width: 800px) {
    header{
        text-align: center;
    }
    nav{
        flex-direction: column;
    }

}







