h1{
    font-family: "Fira Code Medium";
    font-weight: normal;
}

#argument{
    font-style: italic;
}

.actor{
    font-weight: bold;
}

ul li{
    list-style-type: none;
}
.year{
    font-size: 25px;
}